<ion-view title="Borrow Money" id="page13" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h4 id="borrowMoney-heading20" style="color:#000000;" class=" ">How much more money do you want to borrow?</h4>
        <p id="borrowMoney-markdown4" style="color:#000000;" class=" ">Ps. You have a borrowing limit which is 250 € per month</p>
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <h1 id="borrowMoney-heading21" style="color:#000000;text-align:center;" class=" ">1 €</h1>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div id="borrowMoney-button-bar17" class=" button-bar ">
            <button id="borrowMoney-button27" class=" button button-assertive  button-block ">-</button>
            <button id="borrowMoney-button28" class=" button button-balanced  button-block ">+</button>
        </div>
        <button id="borrowMoney-button29" class=" button button-positive  button-block ">Borrow</button>
        <div id="borrowMoney-button-bar18" class=" button-bar MainButtonBar">
            <a ui-sref="investMoney" id="borrowMoney-button30" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block icon ion-plus buttonMain"></a>
            <a ui-sref="borrowerHome" id="borrowMoney-button31" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-home buttonMain"></a>
            <a ui-sref="profile" id="borrowMoney-button32" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-person buttonMain"></a>
        </div>
        <div>
            <style>
                .MainButtonBar{
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: -2%;
                }
            </style>
        </div>
    </ion-content>
</ion-view>