<ion-view title="Borrower Home" hide-back-button="true" id="page12" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div>
            <style>
                .MainButtonBar{
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: -2%;
                }
            </style>
        </div>
        <h3 id="borrowerHome-heading15" style="color:#000000;text-align:center;" class=" ">Your debt now</h3>
        <h1 id="borrowerHome-heading16" style="color:#0085FF;font-weight:600;text-align:center;" class=" ">28 €</h1>
        <div id="borrowerHome-button-bar16" class=" button-bar MainButtonBar">
            <a ui-sref="investMoney" id="borrowerHome-button24" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-plus buttonMain"></a>
            <button id="borrowerHome-button25" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block icon ion-android-home buttonMain"></button>
            <a ui-sref="profile" id="borrowerHome-button26" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-person buttonMain"></a>
        </div>
        <h4 id="borrowerHome-heading18" style="color:#000000;text-align:center;" class=" ">This month you can still borrow</h4>
        <h1 id="borrowerHome-heading19" style="color:#00FF7A;font-weight:600;text-align:center;" class=" ">250 €</h1>
    </ion-content>
</ion-view>