<ion-view title="Invest money" hide-back-button="true" id="page10" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <h4 id="investMoney-heading12" style="color:#000000;" class=" ">How much more money do you want to invest?</h4>
        <div class="spacer" style="width: 300px; height: 50px;"></div>
        <h1 id="investMoney-heading13" style="color:#000000;text-align:center;" class=" ">1 €</h1>
        <div class="spacer" style="width: 300px; height: 34px;"></div>
        <div id="investMoney-button-bar13" class=" button-bar ">
            <button id="investMoney-button44" class=" button button-assertive  button-block ">-</button>
            <button id="investMoney-button46" class=" button button-balanced  button-block ">+</button>
        </div>
        <button id="investMoney-button47" class=" button button-positive  button-block ">Invest</button>
        <div id="investMoney-button-bar4" class=" button-bar MainButtonBar">
            <button id="investMoney-button19" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block icon ion-plus "></button>
            <a ui-sref="investorHome" id="investMoney-button20" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-home "></a>
            <a ui-sref="profile" id="investMoney-button21" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-person "></a>
        </div>
        <div>
            <style>
                .MainButtonBar{
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: -2%;
                }
            </style>
        </div>
    </ion-content>
</ion-view>