<ion-view title="Investor Home" hide-back-button="true" id="page8" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div>
            <style>
                .MainButtonBar{
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: -2%;
                }
                .buttonMain{
                    
                }
            </style>
        </div>
        <h3 id="investorHome-heading7" style="color:#000000;text-align:center;" class=" ">Account balance</h3>
        <h1 id="investorHome-heading6" style="color:#00FF7A;font-weight:600;text-align:center;" class=" ">350 €</h1>
        <div id="investorHome-button-bar1" class=" button-bar MainButtonBar">
            <a ui-sref="investMoney" id="investorHome-button10" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-plus buttonMain"></a>
            <button id="investorHome-button11" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block icon ion-android-home buttonMain"></button>
            <a ui-sref="profile" id="investorHome-button12" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-person buttonMain"></a>
        </div>
    </ion-content>
</ion-view>