<ion-view title="Please enter your pin" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 70px;"></div>
        <h1 id="pleaseEnterYourPin-heading11" style="color:#3F3F3F;font-weight:600;text-align:center;" class=" ">----</h1>
        <div id="pleaseEnterYourPin-button-bar9" class=" button-bar ">
            <button id="pleaseEnterYourPin-button34" class=" button button-positive  button-block ">1</button>
            <button id="pleaseEnterYourPin-button35" class=" button button-positive  button-block ">2</button>
            <button id="pleaseEnterYourPin-button36" class=" button button-positive  button-block ">3</button>
        </div>
        <div id="pleaseEnterYourPin-button-bar10" class=" button-bar ">
            <button id="pleaseEnterYourPin-button37" class=" button button-positive  button-block ">4</button>
            <button id="pleaseEnterYourPin-button38" class=" button button-positive  button-block ">5</button>
            <button id="pleaseEnterYourPin-button39" class=" button button-positive  button-block ">6</button>
        </div>
        <div id="pleaseEnterYourPin-button-bar11" class=" button-bar ">
            <button id="pleaseEnterYourPin-button40" class=" button button-positive  button-block ">7</button>
            <button id="pleaseEnterYourPin-button41" class=" button button-positive  button-block ">8</button>
            <button id="pleaseEnterYourPin-button42" class=" button button-positive  button-block ">9</button>
        </div>
        <div id="pleaseEnterYourPin-button-bar12" class=" button-bar ">
            <button id="pleaseEnterYourPin-button43" class=" button button-positive  button-block ">0</button>
        </div>
    </ion-content>
</ion-view>