<ion-view title="Profile" hide-back-button="true" id="page9" class=" ">
    <ion-content padding="true" scroll="false" class="has-header">
        <div>
            <style>
                .MainButtonBar{
                    position: absolute;
                    width: 100%;
                    left: 0px;
                    bottom: -2%;
                }
            </style>
        </div>
        <ion-list id="profile-list3" class=" ">
            <ion-item class="item-avatar  " id="profile-list-item1">
                <img src="img/7QSF4hdYShuBzpvCTKfO_AAEAAQAAAAAAAAVxAAAAJDA1YmMzZmViLTg5MjUtNDRmYS05MWEwLWM1ZjEwYmQ1NDY0NA.jpg">
                <h2>Tim Borovkov</h2>
                <p>tim@anspirit.org</p>
            </ion-item>
        </ion-list>
        <div id="profile-button-bar14" class=" button-bar ">
            <a ui-sref="investorHome" id="profile-button48" class=" button button-balanced  button-block ">Invest</a>
            <button id="profile-button49" class=" button button-calm  button-block ">Borrow</button>
        </div>
        <h3 id="profile-heading14" style="color:#000000;text-align:center;" class=" ">You are Borrower</h3>
        <button id="profile-button15" class=" button button-positive  button-block button-outline ">Logout</button>
        <div id="profile-button-bar2" class=" button-bar MainButtonBar">
            <a ui-sref="investMoney" id="profile-button9" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-plus "></a>
            <a ui-sref="investorHome" id="profile-button13" style="border-radius:0px 0px 0px 0px;" class=" button button-dark  button-block icon ion-android-home "></a>
            <button id="profile-button14" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block icon ion-android-person "></button>
        </div>
        <div class="spacer" style="width: 300px; height: 13px;"></div>
    </ion-content>
</ion-view>