<ion-view title="Terms of use" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="termsOfUse-heading2" style="color:#000000;" class=" ">Welcome to MoneyApp</h3>
        <p id="termsOfUse-markdown1" style="color:#000000;" class=" ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget interdum massa, in molestie felis. Vivamus non pulvinar arcu. Suspendisse a blandit sapien. Phasellus laoreet ligula et odio suscipit, et ultrices urna mattis. Nullam sit amet
            lacinia justo, et tincidunt libero. Morbi eu lectus id turpis tincidunt sagittis. Nullam et dui odio. Suspendisse et iaculis metus, nec ornare diam. Mauris auctor consequat interdum.</p>
        <h4 id="termsOfUse-heading3" style="color:#000000;" class=" ">Service terms of use</h4>
        <p id="termsOfUse-markdown2" style="color:#000000;" class=" ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget interdum massa, in molestie felis. Vivamus non pulvinar arcu. Suspendisse a blandit sapien. Phasellus laoreet ligula et odio suscipit, et ultrices urna mattis. Nullam sit amet
            lacinia justo, et tincidunt libero. Morbi eu lectus id turpis tincidunt sagittis. Nullam et dui odio. Suspendisse et iaculis metus, nec ornare diam. Mauris auctor consequat interdum.</p>
        <h4 id="termsOfUse-heading4" style="color:#000000;" class=" ">MoneyApp user account</h4>
        <p id="termsOfUse-markdown3" style="color:#000000;" class=" ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget interdum massa, in molestie felis. Vivamus non pulvinar arcu. Suspendisse a blandit sapien. Phasellus laoreet ligula et odio suscipit, et ultrices urna mattis. Nullam sit amet
            lacinia justo, et tincidunt libero. Morbi eu lectus id turpis tincidunt sagittis. Nullam et dui odio. Suspendisse et iaculis metus, nec ornare diam. Mauris auctor consequat interdum.</p>
        <a ng-click="goBack()" id="termsOfUse-button8" class=" button button-positive  button-block ">Back</a>
    </ion-content>
</ion-view>
